.container {
  width: 95%;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 40%;
  padding-left: 10px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  
}

/* Efecto hover */
.container ul li:not(.right):not(.wrong):hover {
  background-image: linear-gradient(-135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container .index {
  font-size: 18px;
}

.container .right {
  background-color: #b6edba;
  background-image: linear-gradient(75deg, #b6edba 0%, #0de56b 61%);
  border-color: #4fd4ae;
}

.container .wrong {
  background-color: #eb8255;
  background-image: linear-gradient(90deg, #eb8255 0%, #ffb762 50%, #FF0000 100%);
  border-color: #ed7f7f;
}


 

