.driver-popover.driverjs-theme {
  background-color: var(--card);
  background-image: linear-gradient(
    to bottom right,
    color-mix(in srgb, var(--accent) 55%, var(--card)),
    color-mix(in srgb, var(--accent) 25%, var(--card))
  ); /* Gradiente */
  transition: background-image 0.3s ease;
  color: var(--popover-foreground);
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: var(--popover-foreground);
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  background-color: var(--success);
  color: var(--success-foreground);
  border: 2px solid var(--border);
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: calc(var(--radius) * 0.5);
}

.driver-popover.driverjs-theme button:hover {
  background-color: color-mix(in srgb, var(--success) 85%, transparent);
  color: var(--success-foreground);
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 4px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: var(--muted-foreground);
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: var(--foreground);
}
